<div class="user-page">
  <ul class="users-list">
    
  </ul>
  <div class="buttons-section">
    <div class="add-button">
      <%= link_to 'add a new transaction', new_category_operation_path, class: 'new' %>
    </div>
    <div class="home-button">  
      <%= link_to 'home', root_path, class: 'homebutton' %>
    </div>
  </div>
</div>

